.input-resaltado {
    color: blue;
}

.array-resaltado {
    color: green;
}

.info-resaltada {
    color: purple;
}

.posicion-resaltada {
    color: orange;
}

.verificacion-resaltada {
    color: red;
}

.resultado-resaltado {
    color: teal;
}