.azul {
    color: blue;
}

.verde {
    color: green;
}

.morado {
    color: purple;
}

.naranja {
    color: orange;
}

.rojo {
    color: red;
}

.agua {
    color: teal;
}

.amarillo {
    color: yellow;
}

.rosa {
    color: pink;
}

.gris {
    color: gray;
}

.negro {
    color: black;
}

.blanco {
    color: white;
}

.marron {
    color: brown;
}