.boton_cajaFormS {
    background-color: #adda9b;
    color: rgb(30, 3, 63);
    border: 2px solid #2E6DA4;
    border-radius: 5px;
    padding: 10px 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    height: 4rem;
    width: 10rem;
}

.boton_cajaFormS:disabled,
.colorvaciar:disabled {
    background-color: #CCCCCC;
    /* Cambia el color a gris cuando está desactivado */
    border-color: #AAAAAA;
    /* Puedes ajustar el color del borde según tus preferencias */
    color: #666666;
    /* Puedes ajustar el color del texto según tus preferencias */
    cursor: not-allowed;
    /* Cambia el cursor cuando está desactivado */
}